@{
    ViewData["Title"] = "Home Page";
}


<div id="login" class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h3>The Tutors are here to help!</h3>
    <br /><br /><br />
    <h2>Welcome to your study community</h2>
    <br />
    <p>The Tutor Forum was created to provide students with supplementary resources for the most crucial programming concepts along their educational journey.  We have resources for the most frequently asked questions that tutors have been asked. We may have the answer you're looking for in our <a href="/Questions/KnowledgeBase"><img style="display: block; height: 100px;   margin-left: auto; margin-right: auto;" src="~/images/question-unsplash.jpg" alt="Questions">Knowledge Base</a>.</p>
    <p>
        We also have a homegrown community of students, members and enthusiasts collaborating and asking questions. Jump in and join the discussions over in our <a href="/Questions/Forum"><img style="display: block; height: 100px;   margin-left: auto; margin-right: auto;" src="https://farm8.staticflickr.com/7525/15999153092_c17fb9665d.jpg" alt="I guess I have a thing for lights.">Forum</a>!
    </p>

    <br /><br />
    <div id="vids">
        <h5>Featured this week:</h5>
          <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/tom_wujec_got_a_wicked_problem_first_tell_me_how_you_make_toast" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
        </div>
    <br />



</div>

